body {
  background: #f9f9f9;
  margin: 1rem 0;
}

.img {
  margin: 2rem auto;
  max-width: 500px;
  border: 1rem solid white;
}

.step {
  margin-bottom: 1.5rem;
  background-color: #eee;
  padding: 2rem 3rem;
  text-align: center;

  -webkit-box-shadow: 3px 3px 16px -5px rgba(0,0,0,0.52);
  -moz-box-shadow: 3px 3px 16px -5px rgba(0,0,0,0.52);
  box-shadow: 3px 3px 16px -5px rgba(0,0,0,0.52);
}

.step h4 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.step p {
  font-size: 1.0rem;
}